### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Archivos de compilación y dependencias ###
/target/
/build/
/out/

### Base de datos H2 ###
*.mv.db
*.trace.db

### Archivos generados ###
*.class
*.jar
*.war
*.ear

### Archivos del sistema ###
.DS_Store
Thumbs.db

### Archivos de logs ###
*.log

### Configuración de Git ###
.git/
